Repository neoforge-dev/starter: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint, frontend-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        args: ['--line-length=88']
        exclude: |
          (?x)(
              ^backend/app/alembic/|
              ^backend/scripts/
          )

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        args: ['--profile=black', '--line-length=88']

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']
        exclude: |
          (?x)(
              ^backend/app/alembic/|
              ^backend/scripts/
          )

  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: bun run lint
        language: system
        pass_filenames: false
        files: ^frontend/src/.*\.(js|ts|tsx)$

      - id: backend-lint
        name: Backend Lint
        entry: docker compose run --rm api_test ruff check app/
        language: system
        pass_filenames: false
        files: ^backend/app/.*\.py$

      - id: frontend-format
        name: Frontend Format
        entry: bun run format
        language: system
        pass_filenames: false
        files: ^frontend/src/.*\.(js|ts|tsx)$

feat: standardize component APIs across atoms and molecules for consistency
  API_CONSISTENCY_REPORT.md
  COMPONENT_API_MIGRATION_GUIDE.md
  frontend/src/components/atoms/badge/badge.js
  frontend/src/components/atoms/button/button.js
  frontend/src/components/atoms/input/input.js
  frontend/src/components/molecules/card/card.js
  frontend/src/test/components/atoms/badge.test.js
  frontend/src/test/components/atoms/input.test.js
Due: frontend-lint, frontend-format

feat: implement critical missing SaaS components
  frontend/src/components/atoms/index.js
  frontend/src/components/atoms/skeleton/index.js
  frontend/src/components/atoms/skeleton/skeleton.js
  frontend/src/components/atoms/skeleton/skeleton.stories.js
  frontend/src/components/atoms/slider/index.js
  frontend/src/components/atoms/slider/slider.js
  frontend/src/components/atoms/slider/slider.stories.js
  frontend/src/components/atoms/textarea/index.js
  frontend/src/components/atoms/textarea/textarea.js
  frontend/src/components/atoms/textarea/textarea.stories.js
  frontend/src/components/molecules/filter-bar/filter-bar.js
  frontend/src/components/molecules/index.js
  frontend/src/test/components/atoms/checkbox.test.js
  frontend/src/test/components/atoms/input.test.js
  frontend/src/test/components/atoms/select.test.js
  frontend/src/test/components/atoms/skeleton.test.js
  frontend/src/test/components/atoms/slider.test.js
  frontend/src/test/components/atoms/switch.test.js
  frontend/src/test/components/atoms/textarea.test.js
Due: frontend-lint, frontend-format

feat: add comprehensive component library documentation
  frontend/docs/README.md
  frontend/docs/accessibility.md
  frontend/docs/components/atoms/button.md
  frontend/docs/components/atoms/input.md
  frontend/docs/components/molecules/input-field.md
  frontend/docs/design-system.md
  frontend/docs/getting-started.md
Due: none

feat: optimize NeoForge component library for production performance
  frontend/OPTIMIZATION_RESULTS.md
  frontend/PERFORMANCE_AUDIT_REPORT.md
  frontend/PERFORMANCE_GUIDELINES.md
  frontend/bundle-size-report.json
  frontend/scripts/bundle-size-monitor.js
  frontend/src/components/atom-component.js
  frontend/src/components/atoms/button/optimized-button.js
  frontend/src/components/atoms/simple-input/simple-input.js
  frontend/src/components/organisms/optimized-data-table.js
  frontend/src/test/performance/component-performance.test.js
Due: frontend-lint, frontend-format

feat: Complete Epic Planning & Agent Handoff Documentation
  docs/PLAN.md
  docs/PROMPT.md
Due: none

feat: activate revenue engine by removing all mock billing data
  backend/alembic/versions/20250903_1230_add_subscription_tables.py
  backend/app/api/v1/endpoints/billing.py
  backend/app/services/subscription_service.py
  backend/pyproject.toml
Due: backend-lint

feat: complete comprehensive business activation planning & production validation
  docs/PLAN.md
  docs/PROMPT.md
Due: none

feat(playground-stability): fix Lit duplicate-attribute crash by switching Vitest env to jsdom and harden table templates
  .claude/settings.local.json
  NAVIGATION_INDEX.md
  PRODUCTION_DEPLOYMENT_VALIDATION_REPORT.md
  PRODUCTION_TROUBLESHOOTING_GUIDE.md
  backend/README_REALWORLD_API.md
  backend/app/api/deps.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/articles.py
  backend/app/db/base.py
  backend/app/models/article.py
  backend/app/models/associations.py
  backend/app/models/comment.py
  backend/app/models/subscription.py
  backend/app/models/tag.py
  backend/app/models/user.py
  backend/app/schemas/article.py
  backend/app/schemas/comment.py
  backend/app/schemas/profile.py
  backend/app/schemas/tag.py
  backend/tests/api/test_realworld_api.py
  backend/uv.lock
  docker-compose.prod.yml
  docker-compose.yml
  docs/PLAN.md
  docs/PROMPT.md
  frontend/src/components/organisms/table/table.js
  frontend/src/test/tools/performance-validator.test.js
  frontend/vite.config.playground.js
  frontend/vitest.config.js
Due: frontend-lint, backend-lint, frontend-format

fix(api-health): make /health and /ready robust and update compose for connectivity
  backend/app/api/middleware/security.py
  backend/app/api/middleware/tenant.py
  backend/app/api/middleware/validation.py
  docker-compose.yml
Due: backend-lint

fix(api): resolve critical health check and startup errors
  backend/app/api/middleware/security.py
  backend/app/api/middleware/tenant.py
  backend/app/models/ab_test.py
  backend/app/utils/idempotency.py
Due: backend-lint

fix(frontend): add missing sortable and filterable attributes to neo-table performance test
  frontend/src/playground/tools/performance-validator.js
Due: frontend-lint, frontend-format

Epic 1: Fix playground Vite resolution and accessibility
  frontend/public/advanced-playground.html
  frontend/vite.config.js
  frontend/vite.config.playground.js
Due: none

✅ EPIC 1 COMPLETE: Playground Stability and Component Quality
  docs/frontend/playground-developer-guide.md
  frontend/src/test/playground/component-generator-modal.test.js
  frontend/src/test/playground/design-system-panel.test.js
Due: frontend-lint, frontend-format

feat: complete Epic 2 - backend readiness and health hardening
  backend/app/db/base.py
  backend/app/models/ab_test.py
  backend/app/models/event.py
  backend/app/models/rbac.py
  backend/app/models/user.py
Due: backend-lint

Epic 3 Batch 1.1: Set up OpenAPI contract testing infrastructure
  backend/pyproject.toml
  backend/tests/contract/__init__.py
  backend/tests/contract/conftest.py
  backend/tests/contract/test_openapi_compliance.py
  backend/uv.lock
Due: none

Epic 3 Batch 1.2-1.4: Complete OpenAPI contract testing framework
  backend/tests/contract/test_core_endpoints.py
  backend/tests/contract/test_negative_cases.py
  backend/tests/contract/test_tenant_isolation.py
Due: none

feat: update backend models and API endpoints for Epic 3 completion
  backend/alembic/env.py
  backend/alembic/versions/20250916_1200_add_ai_workflow_models.py
  backend/app/api/middleware/tenant.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/db/base_class.py
  backend/app/models/ai_workflow.py
  backend/app/models/article.py
  backend/app/models/comment.py
  backend/app/models/rbac.py
  backend/app/models/tenant.py
  test-auth-flow.js
  test-complete-auth-flow-fixed.js
  test-complete-auth-flow.js
Due: backend-lint

feat: establish domain layer foundation
  backend/app/domain/entities/user.py
  backend/app/domain/events/user_registered.py
  backend/app/domain/value_objects/email.py
  backend/app/domain/value_objects/money.py
  backend/app/domain/value_objects/subscription_status.py
  docs/IMPLEMENTATION_ROADMAP.md
Due: backend-lint

feat: establish repository layer abstractions
  backend/app/domain/repositories/base_repository.py
  backend/app/domain/repositories/user_repository.py
Due: backend-lint

feat: establish application layer with CQRS pattern
  backend/app/application/commands/authenticate_user_command.py
  backend/app/application/commands/create_user_command.py
  backend/app/application/queries/get_user_query.py
  backend/app/application/use_cases/create_user.py
Due: backend-lint

feat: Complete Phase 4 - Dependency Injection Container
  backend/app/config/settings.py
  backend/app/container.py
  backend/app/core/__init__.py
  backend/app/domain/entities/user.py
  backend/app/infrastructure/repositories/sql_user_repository.py
  backend/app/main.py
Due: backend-lint

feat: Phase 5 - API Layer Refactoring Foundation
  backend/app/application/commands/auth_commands.py
  backend/app/application/use_cases/auth_use_cases.py
  backend/app/interfaces/__init__.py
  backend/app/interfaces/dtos/auth.py
Due: backend-lint

feat: Complete Phase 6 - Modular Application Factory
  backend/app/bootstrap/__init__.py
  backend/app/bootstrap/config.py
  backend/app/bootstrap/factory.py
  backend/app/bootstrap/middleware.py
  backend/app/bootstrap/routers.py
  backend/app/config/__init__.py
  backend/app/main.py
Due: backend-lint

docs: refresh agent contributor guide
  AGENTS.md
Due: none

feat: add comprehensive PROJECT_INDEX for architectural awareness
  PROJECT_INDEX.json
Due: none

feat: Transform API documentation into world-class developer experience
  backend/app/bootstrap/factory.py
  backend/app/core/config.py
Due: backend-lint

feat: Complete developer experience components and frontend integration
  ARCHITECTURAL_ANALYSIS_REPORT.md
  PROJECT_INDEX.json
  frontend/src/components/atoms/button.js
  frontend/src/components/atoms/card.js
  frontend/src/components/atoms/input.js
  frontend/src/components/developer/api-playground.js
  frontend/src/components/developer/collection-manager.js
  frontend/src/components/developer/developer-portal.js
  frontend/src/components/developer/integration-guides.js
  frontend/src/components/developer/sdk-documentation.js
  frontend/src/components/molecules/form-field.js
  frontend/src/components/pages/auth/login-page.js
  frontend/src/components/pages/auth/register-page.js
  frontend/src/components/pages/dashboard-page.js
  frontend/src/main.js
  frontend/src/pages/developer-page.js
  frontend/src/router.js
Due: frontend-lint, frontend-format

feat: complete Epic 2 - world-class developer API experience
  backend/openapi.json
  backend/scripts/generate_sdks.py
  sdks/javascript/README.md
  sdks/javascript/example.js
  sdks/javascript/package.json
  sdks/javascript/src/index.ts
  sdks/javascript/tsconfig.json
  sdks/python/README.md
  sdks/python/example.py
  sdks/python/neoforge/__init__.py
  sdks/python/neoforge/client.py
  sdks/python/neoforge/exceptions.py
  sdks/python/setup.py
Due: none

feat: Implement comprehensive customer growth intelligence system
  backend/alembic/versions/20250919_1400_add_growth_analytics_tables.py
  backend/app/api/v1/endpoints/analytics.py
  backend/app/services/customer_health.py
  backend/app/services/growth_automation.py
  backend/app/services/growth_integration.py
  backend/app/services/revenue_analytics.py
  backend/tests/test_growth_intelligence.py
Due: backend-lint

feat: complete Epic 3 - comprehensive customer growth intelligence system
  GROWTH_INTELLIGENCE_SUMMARY.md
Due: none

feat: implement enterprise SAML SSO and White-Label Branding
  backend/alembic/versions/20250919_1500_add_saml_sso_models.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/saml.py
  backend/app/models/branding.py
  backend/app/models/saml.py
  backend/app/services/branding_service.py
  backend/app/services/saml_service.py
Due: backend-lint

feat: add enterprise branding API and enhanced billing service
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/branding.py
  backend/app/services/enterprise_billing_service.py
Due: backend-lint

feat: complete enterprise-grade security and compliance features
  backend/app/services/advanced_security_service.py
  backend/app/services/compliance_service.py
Due: backend-lint

fix: resolve critical test infrastructure issues preventing proper validation
  backend/.env.test
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/saml.py
  backend/app/crud/tenant_crud.py
  backend/app/services/branding_service.py
  backend/run_tests_local.sh
  backend/tests/test_config_simple.py
  backend/tests/test_health.py
Due: backend-lint

fix: resolve backend test infrastructure with missing dependencies
  backend/TEST_INFRASTRUCTURE_VALIDATION_REPORT.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

security: resolve all critical vulnerabilities in backend and frontend
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: resolve frontend DOM environment test issues in auth service
  frontend/src/services/auth.js
Due: frontend-lint, frontend-format

feat: implement comprehensive monitoring and alerting infrastructure
  PROJECT_INDEX.json
  backend/app/api/endpoints/monitoring.py
  backend/app/api/v1/api.py
  backend/app/services/alerting_service.py
  backend/monitoring/docker-compose.monitoring.yml
  backend/monitoring/grafana-dashboard.json
  backend/monitoring/prometheus-alerts.yml
  backend/monitoring/prometheus.yml
Due: backend-lint

chore: update PROJECT_INDEX.json after monitoring infrastructure implementation
  PROJECT_INDEX.json
Due: none
