Repository neoforge-dev/starter: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint, frontend-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        args: ['--line-length=88']
        exclude: |
          (?x)(
              ^backend/app/alembic/|
              ^backend/scripts/
          )

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        args: ['--profile=black', '--line-length=88']

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']
        exclude: |
          (?x)(
              ^backend/app/alembic/|
              ^backend/scripts/
          )

  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: bun run lint
        language: system
        pass_filenames: false
        files: ^frontend/src/.*\.(js|ts|tsx)$

      - id: backend-lint
        name: Backend Lint
        entry: docker compose run --rm api_test ruff check app/
        language: system
        pass_filenames: false
        files: ^backend/app/.*\.py$

      - id: frontend-format
        name: Frontend Format
        entry: bun run format
        language: system
        pass_filenames: false
        files: ^frontend/src/.*\.(js|ts|tsx)$

docs: complete comprehensive code quality audit report
  CODE_QUALITY_AUDIT.md
Due: none

refactor: resolve critical TypeScript/JavaScript duality in frontend architecture
  frontend/docs/ARCHITECTURE_DECISION_NOBUILD.md
  frontend/src/components/app-shell.ts
  frontend/src/components/auth/login-form.ts
  frontend/src/components/auth/verify-email.js
  frontend/src/components/core/app-shell.js
  frontend/src/components/pages/profile-page.js
  frontend/src/components/pages/projects-page.js
  frontend/src/pages/status-page.js
  frontend/src/pages/support-page.js
  frontend/src/services/api.js
  frontend/src/services/api.ts
  frontend/src/services/auth.ts
  frontend/src/services/error-service.js
  frontend/src/services/error-service.test.js
  frontend/src/services/index.js
  frontend/src/test/components/auth/verify-email.test.js
  frontend/src/test/integration/api-communication.test.js
  frontend/src/test/integration/auth-flow-integration.test.js
  frontend/src/test/integration/auth-integration.test.js
  frontend/src/test/integration/session-management.test.js
  frontend/src/test/services/auth-verification.test.js
Due: frontend-lint, frontend-format

test: restore frontend test infrastructure by fixing skipped tests
  PROJECT_INDEX.json
  frontend/TEST_INFRASTRUCTURE_RESTORATION_REPORT.md
  frontend/fix-console.sh
  frontend/src/test/browser-compatibility.test.js.skip
  frontend/src/test/components/performance.test.js
  frontend/src/test/e2e/button.spec.js
  frontend/src/test/e2e/input.spec.js
  frontend/src/test/e2e/playwright.spec.js
  frontend/src/test/pages/404-page.test.js
  frontend/src/test/pages/docs-page.test.js
  frontend/src/test/pages/faq-page.test.js
  frontend/vitest.config.js
  pyproject.toml
  uv.lock
Due: frontend-lint, frontend-format

feat: implement comprehensive error boundaries and async error handling
  frontend/docs/ERROR_HANDLING.md
  frontend/src/components/core/error-boundary.js
  frontend/src/main.js
  frontend/src/playground/tools/monitoring-integration.js
  frontend/src/services/api.js
  frontend/src/test/error-handling.test.js
  frontend/src/utils/async-handler.js
Due: frontend-lint, frontend-format

docs: complete Phase 1 frontend technical debt resolution summary
  FRONTEND_TECHNICAL_DEBT_RESOLUTION.md
Due: none

security: fix CRITICAL security vulnerabilities in SAML and billing
  backend/app/services/enterprise_billing_service.py
  backend/app/services/saml_service.py
Due: backend-lint

security: fix CRITICAL backend security vulnerabilities
  backend/app/api/v1/endpoints/auth.py
  backend/app/config/settings.py
  backend/app/core/ml.py
  backend/app/core/security.py
  backend/pyproject.toml
  backend/tests/api/test_refresh_token_storage.py
  backend/tests/config/test_secret_key_validation.py
  backend/uv.lock
Due: backend-lint

docs: complete backend critical security vulnerability resolution
  BACKEND_SECURITY_FIXES_COMPLETE.md
  PROJECT_INDEX.json
Due: none

feat: complete backend production readiness infrastructure
  backend/alembic/versions/20250812_1548_add_project_support_community_idempotency.py
  backend/alembic/versions/20250814_1400_add_recommendation_system_tables.py
  backend/alembic/versions/20250903_1230_add_subscription_tables.py
  backend/alembic/versions/20250916_1200_add_ai_workflow_models.py
  backend/alembic/versions/20250919_1400_add_growth_analytics_tables.py
  backend/alembic/versions/20250919_1500_add_saml_sso_models.py
  backend/docs/DEPLOYMENT.md
  backend/docs/TROUBLESHOOTING.md
  backend/scripts/validate_migrations.py
Due: none

feat: complete backend production readiness with migration validation and deployment docs
  PROJECT_INDEX.json
Due: none

docs: complete comprehensive technical debt resolution documentation
  MIGRATION_GUIDE.md
  PROJECT_INDEX.json
  PULL_REQUEST_DESCRIPTION.md
  TECHNICAL_DEBT_RESOLUTION_COMPLETE.md
Due: none

docs: add comprehensive DDD migration documentation
  PROJECT_INDEX.json
  docs/architecture/decisions/0001-domain-driven-design-migration.md
  docs/architecture/migration-guide-crud-to-ddd.md
  docs/architecture/pattern-comparison.md
Due: none

docs: update README to reflect enterprise platform and DDD migration
  README.md
Due: none

fix: repair frontend paths in project index
  PROJECT_INDEX.json
Due: none
